- name: Pull registry image
  docker_image:
    name: registry
    tag: latest
    source: pull

- name: Run private Docker registry container
  docker_container:
    name: registry
    image: registry:latest
    state: started
    restart_policy: always
    published_ports:
      - "5000:5000"
    volumes:
      - /var/lib/registry:/var/lib/registry